package ${package}.${moduleName}.dao;

import ${package}.common.base.BaseDao;
import ${package}.${moduleName}.entity.${className}Entity;
import org.apache.ibatis.annotations.Mapper;


/**
 * @author ${author}
 * Date ${datetime}
 * @version 1.0
 * Description: ${comments}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {

}
